@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Emote tracker</h1>
    <p>All your emotes in one place.</p>
    <search>
        <form method="get" asp-page="./search" class="row justify-content-center">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Channel" aria-label="Search channel" aria-describedby="channel-search" name="channel">
                    <button class="btn btn-outline-secondary" type="submit" id="channel-search">Search</button>
                </div>
            </div>
        </form>
    </search>
</div>
